{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

    <form method="POST">
        <h3 align="center">
            Login
        </h3>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input class="form-control" placeholder="Enter Email" type="text" id="email" name="email" />
            <label for="password">Password</label>
            <input class="form-control" placeholder="Enter Password" type="password" id="password" name="password" />
            <br/>
            <div align="center">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </div>
    </form>

{% endblock %}