{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1 align="center">{% block header %}Posts{% endblock %}</h1>
    <div id="post">
        {% for post in posts %}
            <div class="card border-dark my-2">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <a href="/post/{{ post.user.username }}">{{ post.user.username }}</a>
                    <div>
                        <span id="likes-count-{{ post.id }}">{{ post.likes | length }}</span>
                        {% if user.id in post.likes | map(attribute="author") | list %}
                            {% set icon_class = "fas fa-thumbs-up"%}
                        {% else %}
                            {% set icon_class = "far fa-thumbs-up"%}
                        {% endif %}
                        <i class="{{ icon_class }}" id="like-button-{{ post.id }}" onclick="like({{ post.id }})"></i>
                        {% if user.id == post.author %}
                            <div class="btn-group">
                                <button class="btn btn-small btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="/delete-post/{{ post.id }}">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        {{ post.text }}
                    </div>
                    <br/>
                    <p class="card-text">
                        {% if post.comments | length %}
                            <a href="#comments-{{ post.id }}" data-bs-toggle="collapse" role="button">
                                <small>
                                    View {{ post.comments | length }} comments
                                </small>
                            </a>
                        {% else %}
                            <small class="text-muted">
                                No comments
                            </small>
                        {% endif %}
                    </p>
                    <div class="collapse" id="comments-{{ post.id }}">
                        <div class="card">
                            <div class="card-body" id="comments-expanded-{{ post.id }}">
                                {% for comment in post.comments %}
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <a href="/posts/{{ comment.user.username }}">{{ comment.user.username }}: {{ comment.text }}</a>
                                        </div>
                                        <div>
                                            <small class="text-muted">
                                                {{ comment.date_created }}
                                            </small>
                                            {% if user.id == comment.author or user.id == post.author %}
                                            <div class="btn-group">
                                                <button class="btn btn-small btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"></button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a class="dropdown-item" href="/delete-comment/{{ comment.id }}">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <form class="input-group mb-3" action="/create-comment/{{ post.id }}" method="POST">
                        <input class="form-control" id="text" name="text" type="text" placeholder="Comment something!"/>
                        <button class="btn btn-primary" type="submit">Comment</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    {{ post.date_created }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% block footer %}
        <div align="center">
            <a href="/create-post">
                <button class="btn btn-primary btn-lg" type="button">Create a Post</button>
            </a>
        </div>
    {% endblock %}
{% endblock %}